html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    margin: 2em 0 0.8em;
    font-size: 1.125em;
    line-height: 1.1;
    font-weight: 600;
}

ul {
    list-style-type: square;
}

.container {
    -webkit-font-smoothing: antialiased;
    max-width: 860px;
    margin: 0 auto;
    padding: 0 20px;
    font: normal 400 16px/1.42 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
}

.head {
    padding: 30px 0 0;
}

.title{
    text-decoration: none;
}

.head h1 {
    margin: 0;
    font-size: 32px;
    color: #000;
}

.head h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.nav {
    padding: 10px 0 30px;
}

.nav a {
    font-size: 14px;
    color: #999;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a + a {
    margin-left: 20px;
}

h3.listener {
    font-weight: 400;
    margin: 20px 0 0;
    color: #ccc;
}

.content {
    margin-left: -20px;
    margin-right: -20px;
}

.zhuanlan {
	width: 22.7em;
	padding: 20px;
}

.item {
    display: inline-block;
    padding: 20px;
    text-align: left;
}

.item a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.back,.next,.prev {
    color: #ccc !important;
    margin-top: 2em;
    text-decoration: underline !important;
}

.item img {
    border-radius: 10%;
}
.icon {
    width: 60px;
    height: 60px;
}

.item strong {
    display: block;
    font-weight: 600;
}

.copy {
    padding: 20px 0;
    font-size: 14px;
    color: #ccc;
}

.yue a {
    color: #db4d6d;
}

@media (max-width: 680px) {
    .nav a + a {
        margin-left: 10px;
    }
}

